exportPattern("^[[:alpha:]]+")
exportPattern(GetSeqInfo_NCBI_taxid)
exportPattern(GetSeq_BOLD)
importFrom("utils", "read.delim")
exportPattern(Congr.NCBI.BOLD.perReposit)
exportPattern(GeoCoord.WGS84)
exportPattern(Query.GeOMe.XY.R)
exportPattern(GeoCodeName)
exportPattern(SpeciesGeneMat.Bl)
exportPattern(SelGene.MaxSpCov)
exportPattern(Matrix.Overlap)
exportPattern(AmMissData)
exportPattern(Select.DNA)
exportPattern(First.Align.All)
exportPattern(Detect.Outlier.Seq)
exportPattern(Rm.OutSeq.Gap)
exportPattern(Multi.Align)
exportPattern(Mumsa.Comp)
exportPattern(Filtering.align.Trimal)
exportPattern(Filtering.align.Gblocks)
exportPattern(Align.Concat)
exportPattern(PartiFinder2)
exportPattern(ConstraintTaxo2newick)
exportPattern(MultiTopoConst.EditXML4BEAST2)
exportPattern(CladeAgeCalib.xml)
